<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Tadanobu. It uses data from mapbox.com and weatherstack!</p>
        <img class="portrait" src="/img/picture1.png">
    </div>
    
    {{>footer}}
</body>
</html>